.AnswersList-container {
  background-color: #303030;
}
.AnswersList-listItem {
  background-color: inherit;
}
.AnswersList-listItem:not(:last-child) {
  border-bottom: 1px solid #444444;
}
.AnswersList-listItem:hover {
  cursor: pointer;
}

@media screen and (max-width: 450px) {
  .AnswersList-container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .AnswersList-listItem {
    width: 50%;
  }
  .AnswersList-listItem:nth-child(5) {
    border-bottom: none;
  }
}
