.AnswersBox-container {
  background-color: #303030;
}
.AnswersBox-listItem {
  background-color: inherit;
}
.AnswersBox-listItem:not(:last-child) {
  border-bottom: 1px solid #444444;
}
.AnswersBox-listItem:hover {
  cursor: pointer;
}
