.AnswersList-container {
  background-color: #303030;
}
.AnswersList-listItem {
  background-color: inherit;
}
.AnswersList-listItem:not(:last-child) {
  border-bottom: 1px solid #444444;
}
.AnswersList-listItem:hover {
  cursor: pointer;
}
