@font-face {
  font-family: 'Dancing Script';
  src: url('./assets/fonts/DancingScript-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 0.94rem;
  line-height: 1.5;
  background-color: #222222;
  color: #fff;
}
