.ProgressBar {
  user-select: none;
  width: 100%;
  align-items: center;
}

.ProgressBar-time-box {
  display: flex;
  justify-content: space-between;
}

.ProgressBar-time {
  font-size: 11px;
}

.ProgressBar-progress {
  position: relative;
  flex: 1;
  border-radius: 5px;
  margin: 5px;
  height: 4px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.ProgressBar-progress-knob {
  position: absolute;
  top: 0;
  height: 16px;
  width: 16px;
  border: 1.5px solid grey;
  border-radius: 50%;
  background-color: grey;
  transform: translate(-50%, -40%);
}
